/* Inital setup */

* {
    padding: 0;
    margin: 0;
}

body {

    color: rgb(52, 52, 52);
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 2;
    margin: inherit;
    text-rendering: geometricPrecision;
}

h1, h2 {
    font-weight: 500;
}


/* Resuable styles */

.container {
    margin: 0 auto;
    width: 1040px;
    display: block;
}


/* Header */

nav {
    background-color: #fff;
    box-shadow: 1px 0 4px 2px rgba(0, 0, 0, 0.2);
    padding: .8em 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.green-text {
    color: rgb(148, 199, 48);
}

ion-icon {
    color: rgb(105, 105, 105);
    cursor: pointer;
}

ion-icon:hover {
    color: rgb(52, 52, 52);
}

.menu {
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.menu a {
    color: rgb(105, 105, 105);
    text-decoration: none;
}

.menu a:hover {
    color: rgb(52, 52, 52);
}

.hero-image {
    background-image: url('img/hero-image.jpg');
    background-size: cover;
    background-position: center;
    height: 70vh;
    z-index: 2;
}

.recipe-card {
    width: 600px;
    margin: 0 auto;
    padding: 2.5rem 0.5rem;
    position: relative;
}

.recipe-name {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.recipe-ing {
   list-style: none;; 
}

.recipe-ing li {
    margin-bottom: 10px;
}

.recipe-ing li::before {
    content: "\2022";
    color: #ffb048;
    line-height: 27px;
    font-size: 40px;
    font-weight: 700;
    float: left;
    margin-right: 5px;
    padding-right: 8px;
}

.recipe-card h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin: 2rem 0 1.3rem;
}


ol {
    list-style: none;
    counter-reset: method-counter;
    padding-left: 35px;
}

ol li {
    counter-increment: method-counter;
    margin-bottom: 1.4em;
    position: relative;
}

ol li::before {
    background-color: rgb(148, 199, 48);
    border-radius: 25px;
    color: #fff;
    content: counter(method-counter);
    font-size: 12px;
    height: 24px;
    left: -38px;
    top: 3px;
    line-height: 2;
    margin-right: 10px;
    position: absolute;
    text-align: center;
    width: 24px;
}
